<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>OCR Server</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Сервис по распознованию текстовых изображений</h1>
        </header>
        <nav>
            <a href="/">OCR</a> |
            <a href="/records/">ПОИСК</a> |
            <a href="/admin">АДМИН</a> |
            <a href="/about/">О ПРОЕКТЕ</a>
        </nav>
        <hr>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
